# dependencies
node_modules/

# testing
coverage/

# production
dist/
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# Prisma
generated/
prisma/migrations/*
!prisma/migrations/migration_lock.toml

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
